<div class="modal fade" id="loginRequestModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <%= link_to t("login_to_continue"), login_path,{ class: "btn btn-success"} %>
      </div>
      <div class="modal-footer">

      </div>
    </div>

  </div>
</div>
