<% provide :title, t("home") %>

<section class="banner-area text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>
<section class="food-area section-padding">
  <div class="container">
    <div class="row">
      <% if @restaurants %>
      <%= render @restaurants %>
      <% end %>
    </div>
  </div>
</section>
<section class="table-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-top2 text-center">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form action="#">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
            <input type="text" id="datepicker">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-clock-o"></i></span>
            </div>
            <input type="text" id="datepicker2">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-user-o"></i></span>
            </div>
            <input type="text">
          </div>

        </form>
      </div>
    </div>
  </div>
</section>
