<div class="row row-button">
  <div class="col-md-3">
    <button class="btn btn-info btn-lg btn-block"><%= link_to t("create_restaurant"), new_admin_restaurant_path %>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <button class="btn btn-default btn-lg btn-block"><%= link_to t("manage_restaurant"), searchrestaurant_path %>
    </button>
  </div>
</div>
