$light-gray: #777;
$gray-medium-light: #eaeaea;
$section-color: #fff;
$border-top-color: #CCCCCC;
$border-right-color: #333333;
$background-color: #D8D7D7;
$input-background-color: #45a049;
$button-background-color: #EEEEEE;
$button-color: #333333;
$logo-color: #fff;
$background-slider: #4CAF50;
$border-input-color: #ccc;
$progress-bar-color-gray: #7d7d7d;
$progress-bar-color-green: #55b776;
