@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search_show_user_page{
  margin-top: 36px;
}
.footer-page{
  margin-right: -28px;
}
.small-p{
  font-size: 10px;
}
.image_preview{
  width: 270px;
  height: 200px;
  margin-bottom: 15px;
}
.delete-response-btn{
  float: right;
  color: gray;
  visibility: hidden;
}
.response-row{

}
.food-name{
  color: green;
}

.search_restaurant_btn{
  margin-top: 6px;
}
.select_tag_home_page{
  width: 369px;
  float: left;
}
.label-tag-home-page{
  margin-top: 18px;
  color: white;
}
.content-comment{
  padding-left: 20px;
}
.avatar_comment{
  height: 60px;
  width: 60px;
}
.total_value_text{
  color: red;
  font-size: 20px;
}
.iframe-map{
  width: 100%;
  height: 450px;
}

.map{
  margin-top: 25px;
}

.red-b{
  color:red;
}

.green-b{
  color: green !important;
}
.restaurant-image{
  height: 300px;
  width: 450px;
}
.select_tag{
  background-color: white !important;
}
.inline-p{
  display: inline;
}
.restaurant-show-image{
  height: 200px;
  width: 250px;
}
.restaurant-image{
  height: 300px;
  width: 450px;
}
.progressbar {
    counter-reset: step;
    margin-bottom: 100px;
}
.progressbar li {
    list-style-type: none;
    width: 31%;
    float: left;
    font-size: 18px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $progress-bar-color-gray;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid $progress-bar-color-gray;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: $progress-bar-color-gray;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: green;
}
.progressbar li.active:before {
    border-color: $progress-bar-color-green;
}
.progressbar li.active + li:after {
    background-color: $progress-bar-color-green;
}

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid $border-input-color;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: $background-slider;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: $input-background-color;
}
body {
  background-color: $background-color;
}
.restaurant-details{
  margin-bottom: 20px;
}

.button_food {
  font: bold 11px Arial;
  text-decoration: none;
  color: white;
  padding: 4px 6px 4px 6px;
  border-top: 1px solid $border-top-color;
  border-right: 1px solid $border-right-color;
  border-bottom: 1px solid $border-right-color;
  border-left: 1px solid $border-top-color;
}
.user_response_image {
  height: 30px;
  width: 30px;
}
.first_div{
  margin-top: 15px;
}
.white-link{
  color: white;
}

.price_text_field{
  width: 120px;
  color: green;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 20px;
}

.gray-link{
  color: gray;
 }

.red-link{
  color: red;
 }

.response{
  margin-top: 10px;
}

a{
  text-decoration: none;
 }

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}
.row-button{
  margin-top: 6   0px;
  margin-bottom: 15px;
}

textarea {
  resize: vertical;
}
.quantity_text_field{
  width: 45px !important;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $logo-color;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $logo-color;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;

  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.province{
  margin-top: 8px;
  margin-left: 12px
}
.price-order-list{
  margin-top: 15px;
}
/* Image slider */

/* Area information */
.area-info{
  background-color: white;
  padding: 10px;
  margin-left: -5px;
  margin-right: -34px;
}
.area-info-home-page{
  margin: 10px;
  width: 23%;
}

.vertical_line {
  border-left: 2px solid blue;
  display:inline-block;
  height: 60px;
}
.button-management { /* You may want to limit the selector */
  width: 100%; /* Or any other percent */
}
.div_info {
  display: inline-block;
  width: 80px;
}
.mark {
  color: green;
  background-color: white;
  font-size: 20px;
}
.rounded-image{
  border-radius: 50%;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: $button-background-color;
  color: $button-color;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid $border-top-color;
  border-right: 1px solid $border-right-color;
  border-bottom: 1px solid $border-right-color;
  border-left: 1px solid $border-top-color;
}

.plabel {
  font-size: 12px;
}
.point {
  color: $logo-color;
  background: #03ae03;
  text-align: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 18px;
  float: left;
  margin-right: 425px
}
.small-point {
  color: $logo-color;
  background: #03ae03;
  text-align: center;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  font-size: 12px;
  float: left;
  margin-right: 425px
}
.aheader{

}

.narrow-hr{
  margin-top: 0px;
  margin-bottom: 0px;
}
.custom-hr{
  margin-top: 0px;
  margin-bottom: 5px;
}

.text-center{
  text-align: center;
}
.liheader{
  display: block;
  font-size: 16px;
  padding-right: 160px;
  /*border-right: #F0F0F0 1px solid;*/
  float: left;
  text-align: center;
}
.food_item{
  padding-right: 160px;
}

.big-textarea{
  height: 300px;
  width: 550px;
}

/*Slider*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $background-slider;
  cursor: pointer;
}

.row-header{
  margin-bottom: 80px;
}

#myInput {
  border-box: box-sizing;
  /*background-image: url('searchicon.png');*/
  /* background-position: 14px 12px;*/
  /* background-repeat: no-repeat;*/
  font-size: 14px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.content-page{
  margin-top: 60px;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $background-slider;
  cursor: pointer;
}

.rating-review {
  background-color: white;
  padding: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  max-height: 400px;
  margin-left: -17px;
  min-height: 400px;
}

.comments {
  grid-row-start: 1;
}

.my-cart{
 /* grid-row-start: 1;
  grid-row-end: 2;*/
  /*text-align: center;*/
  max-height: 430px;
  min-height: 400px;
}

.footer{
  grid-area: footer;
}

.grid-container {
  display: grid;
  /*grid-template-areas:*/
  grid-template-columns: 270px auto ;

  grid-gap: 30px;
  /*background-color: #2196F3;*/
  /*padding: 10px;*/
}

.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  /*text-align: center;*/
  /*padding: 20px 0;*/
  /*font-size: 30px;*/
}
